p{
    color: red;
}
.bo {
background-color:  #00FF00;
}
.bt3{
    width: 24px;
}
.anh{
  width: 800px;
  height: 500px;
}
ul>li{
font-weight: 700;
}
 .item span
  {
    height: 18px;
  }
  .item > div > span 
  {
    font-style: italic;
  } 
